body {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Header Styling */

header {
    display: flex;
    background-color: #1F2937;
    padding: 16px 250px;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.nav {
    color: #E5E7EB;
    font-size: 18px;
    list-style: none;
    display: flex;
    gap: 20px;
}


/* Hero Styling */

.hero {
    background-color: #1F2937;
    padding: 175px 250px;
    display: flex;
    align-items: center;
    gap: 56px;
}

.hero h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0;
    padding: 0;
}

.hero p {
    font-size: 18px;
    color: #E5E7EB;
}

.hero .img {
    width: 1000px;
    height: 300px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F9FAF8  ;
}

.hero button {
    background-color: #3882F6;
    padding: 8px 32px;
    border-radius: 8px;
    color: #E5E7EB;
}

/* Information styling */

.info {
    padding: 56px 450px;
    text-align: center;
}

.info h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.info-cards {
    display: flex;
    gap: 32px;
}

.info-cards .img {
    height: 150px;
    border: 4px solid #3882F6;
    border-radius: 16px;
}

/* Quotation styling */

.quote-section {
    background-color: #E5E7EB;
    padding: 75px 450px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: #1F2937;
}

.quote-section .author {
    text-align: right;
    font-weight: 900;
}

/* Call to Action styling */
.action {
    background-color: #3882F6;
    margin: 75px 300px;
    padding: 48px 130px;
    color: #E5E7EB;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.action h2 {
    margin: 0;
    padding: 0;
}

.action p {
    margin: 0;
    padding: 0;
}

.action button {
    background-color: #3882F6;
    padding: 8px 32px;
    border-radius: 8px;
    border: 2px solid #F9FAF8;
    color: #E5E7EB;
}